@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

* {
    padding: 0;
    margin: 0;
}
body, html {
    height: 100vh;
    
}
html {
    font-size: 1rem;
    background-color: #222;
}
body {
    color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Lato, sans-serif;
}
#time {
    display: flex;
    justify-content: space-between;
} 
#time > div {
    text-align: center;
    margin-inline: 2rem;
}
#time span {
    display: block;
    font-size: 4rem;
    font-weight: 300;
}
#countdown > h1  {
    text-align: center;
    color: #fff;
}
@keyframes colorchange {
    0% {color: red;}
    14% {color: orange;}
    28% {color: yellow;}
    42% {color: lime;}
    57% {color: cyan;}
    71% {color: blue;}
    85% {color: purple;}
    100% {color: red;}
  }
  #time {
    animation: colorchange 2s infinite;
  }
  
#loader-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
#loader {
    border: 16px solid;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite, colorloader 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes colorloader {
  0% {border-top-color: red;}
  14% {border-top-color: orange;}
  28% {border-top-color: yellow;}
  42% {border-top-color: lime;}
  57% {border-top-color: cyan;}
  71% {border-top-color: blue;}
  85% {border-top-color: purple;}
  100% {border-top-color: red;}
}
